@media only screen and (max-width: 1230px) {
  .h2Profile {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {

  .h2Profile {
    font-size: 20px;
  }
  .containerContact{
    display: block;
    margin-top: 10px;
  }
  /* .carousel-item img {
    width: 100%;
    height: 25rem;
  } */
}
@media only screen and (min-width: 1024px) {
  .labelFieldNew {
    left: 45px;
  }
  .labelFieldTextareaNew {
    left: 45px;
  }

}

@media only screen and (max-width: 768px) {
  .contactWork {
    display: block;
    margin-top: 15px;
  }

  .workCont {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  .namePro {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  .noteOrder {
    margin-right: 0;
    margin-top: 20px;
  }

  #orderForm {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* .carousel-item img {
    width: 100%;
    height: 25rem;
  } */
}
@media only screen and (max-width: 700px) {
  .imgUploadNew {
    grid-template-columns: auto;
  }
  .imgUpLeftNew {
    margin-bottom: 5px;
  }
  .popupNew {
    width: 70%;
  }
}

@media only screen and (max-width: 540px) {

  .h2Profile {
    font-size: 15px;
  }
}
@media only screen and (max-width: 414px) {

    /* .carousel-item img {
      width: 100%;
      height: 12rem;
    } */
  }
